h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem(' ', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Características de los instrumentos de medición', 'main.html#page/instrumentos/')
                    +navTemaItem('2', 'Características de los diagramas de red multiplexada', 'main.html#page/caracteristicas/')
                    +navTemaItem('3', 'Técnicas de interpretación de diagramas de cableado', 'main.html#page/diagramas/')
                    +navTemaItem('4', 'Técnicas de toma de señal', 'main.html#page/toma/')