h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 280601098-02. Medir las redes multiplexadas en el vehículo de acuerdo con procedimientos técnicos.




