.container
    .header-ecored
        h1 3. Técnicas de interpretación de diagramas de cableado
    .jumbotron.bg-white
        p El diagrama corresponde al Nissan Sentra MY 2014. 
            | #[br]Se pueden observar los pines 4 y 5 conectados a tierra. El pin 16 recibe alimentación de positivo de batería constante B+ protegido por un fusible de 10A. 

        p La señal de CAN Bus High se conecta al pin 6 y CAN bus Low al pin 14 del Data Link Connector-DLC.
        p El pin 8 recibe alimentación del interruptor de encendido IG y el pin 7 está unido al módulo de clasificación de ocupantes.
        p Este circuito tiene solo un tipo de velocidad de comunicación y es de 500 Mbit/s

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_1.png").img-fluid

        p.mt-5 De igual manera, el siguiente es el diagrama de las conexiones de los módulos del Ford Explorer MY 2010, tanto para las líneas de CAN BUS-HS y CAN BUS-MS (Medium Speed).

        p Los módulos IPC y APIM son las interfaces que “traducen” los mensajes entre los módulos de tracción con los módulos de confort y de manera contraria.

        p Los módulos IPC y SJB contienen los resistores de 120 Ω de final de circuito para el CAN de confort CAN-MS.

        p Los módulos IPC y PCM contienen los resistores de 120 Ω de final de circuito para el CAN de tracción CAN-HS.

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_2.png").img-fluid

        p.mt-5 En cada uno de los ejemplos, puede verse claramente la manera como se encuentran conectados los módulos. 

        p De cada uno salen dos líneas, que se unen a las líneas principales del CAN-H y CAN-L, tanto el circuito de tracción como el circuito de confort.

        p Al final, estos circuitos se conectan al Data Link Connector – DLC.

        p Cuando el scanner se conecta al circuito el sistema lo considera un módulo más.


        