.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Confort:
            | Son las condiciones físicas que proporcionan bienestar o comodidad
        
        p
            strong.mr-2 Interfaz:	
            | En informática se refiere a un dispositivo con capacidad de transformar las señales generadas por un elemento en señales que el otro pueda comprender.
        p 
            strong.mr-2 MY:
            | #[i Model Year.] Cuando se refiere al modelo de un vehículo.
        p 
            strong.mr-2 Osciloscopio:
            | Es un instrumento de visualización electrónico para la representación gráfica de señales eléctricas que pueden variar con el tiempo.
